$cell-size: 258px;

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, $cell-size);
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 0 20px 50px;

  @media (min-width: 855px) {
    gap: 20px 10%;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, $cell-size);
  }
}
